{% extends 'base.html' %}
{% load static %}

{% block title %}Songs feed{% endblock %}
{% block active_songs_feed %}active{% endblock %}

{% block head %}
<link href="{% static 'css/songs_feed.css' %}" rel="stylesheet" />
<link href="{% static 'css/pagination.css' %}" rel="stylesheet" >
{% endblock %}

{% block contents %}
   <body>
        <!-- Page header with logo and tagline-->
        <header class="py-5 bg-light border-bottom mb-4">
            <div class="container">
                <div class="text-center my-5">
                    <h1 class="fw-bolder">Welcome to Songs Feed!</h1>
                    <p class="lead mb-0">Various songs using the same beat will be listed. <br>
                        Your song might become the top one among other users who have used the same beat.
                    </p>
                </div>
            </div>
        </header>
        <!-- Page content-->
        <div class="container">
            <div class="row">
                <!-- Blog entries-->
                <div class="col-lg-8">
                    <!-- Featured blog post-->
                    <div class="card mb-4">
                        <div class="card-body">
                            {% for songs in songs_list %}
                            <h2 class="card-title mt-4"><small class="explanation">Song Title</small> : {{ songs.songtitle }}</h2>
                            <h2 class="card-title mt-1 mb-3"><small class="explanation">Artist Name</small> : {{ songs.username }}</h2>
                            <a class="badge bg-secondary text-decoration-none link-light mb-4" href="#!">Beat : {{ songs.beat }}</a>
                            <div class="mb-2">
                                <audio class="control-width mb-3" controls src="{{ songs.song.url }}"></audio>
                            </div>
                            <h5>Lyrics :</h5>
                            <p class="card-text mb-1 mt-1">{{ songs.lyrics|truncatechars:140 }}</p>
                            <div class="small text-muted mb-2">Posted at : {{ songs.created_at }}</div>
                            <a class="btn btn-primary mb-4 mt-4" href="{% url 'main:songs_detail' songs.pk %}">Detail →</a>
                            <hr>
                            {% empty %}
                            <h5>No songs have been posted yet.</h5>
                            {% endfor %}
                        </div>
                    </div>

                    <!-- ページネーション処理 -->
            {% if is_paginated %}
            <ul class="pagination justify-content-center">
                <!-- 前ページへのリンク -->
                {% if page_obj.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.previous_page_number }}">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                {% endif %}

                <!-- ページ数表示 -->
                {% for page_num in page_obj.paginator.page_range %}
                {% if page_obj.number == page_num %}
                <li class="page-item active"><a class="page-link" href="#">{{ page_num }}</a></li>
                {% else %}
                <li class="page-item"><a class="page-link" href="?page={{ page_num }}">{{ page_num }}</a></li>
                {% endif %}
                {% endfor %}

                <!-- 次ページへのリンク -->
                {% if page_obj.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.next_page_number }}">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
                {% endif %}
            </ul>
            {% endif %}
                </div>
                <!-- Side widgets-->
                <div class="col-lg-4">
                    <div class="card mb-4">
                        <div class="card-header">Request vocal processing</div>
                        <div class="card-body stripe">
                            <a href="https://buy.stripe.com/test_cN2fZt9HU9kw2AMdQQ"　target="_blank">
                                <img src="{% static 'assets/img/stripe_logo.jpg' %}"><br>
                            </a>
                            <a href="https://buy.stripe.com/test_cN2fZt9HU9kw2AMdQQ">Make a payment with Stripe.</a>
                        </div>
                    </div>
                    <!-- Side widget-->
                    <div class="card mb-4">
                        <div class="card-header">Which is your favorite songs?</div>
                        <div class="card-body">Pressing the 'like' button is encouraging for us and other users.<br>
                            So, if you find your favorite song, please give it a like.
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="{% static 'js/songs_feed.js' %}"></script>
    </body>
{% endblock %}
